@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.minesquare {
    width: 10%;
    height: 10%;
    background-color: #FCB0BE;
    font-family: 'VT323', monospace;
    font-size: 24px;
}
.checked {
    background-color: #ddd;
}
/* .flag {
    background-color: #FFC299;
} */
.smiley {
    position: relative;
    top: 2px;
}

.appicon-purple {
    background-color: #C5A8F0;
}
.appicon-blue {
    background-color: #9CE4FC;
}
.appicon-orange {
    background-color: #FFC299;
}
.appicon-green {
    background-color: #CAE3A0;
}
.appicon-yellow {
    background-color: #FFF192;
}
.appicon-pink {
    background-color: #FCB0BE;
}
/* .desktop-windows,
.desktop-0 {
    background-image: url('https://i.imgur.com/OcqNAHO.png');
}
.desktop-astro, 
.desktop-1 {
    background-image: url('https://i.imgur.com/n2YIEhc.png');
}
.desktop-flowers,
.desktop-2 {
    background-image: url('https://i.imgur.com/bUavYXo.png');
}
.desktop-space,
.desktop-3 {
    background-image: url('https://i.imgur.com/nCWHnec.png');
}
.desktop-smog,
.desktop-4 {
    background-image: url('https://i.imgur.com/hJ3cR4X.png');
}
.desktop-sunset,
.desktop-5 {
    background-image: url('https://i.imgur.com/0xlsXYG.jpg');
}
.desktop-bookstore,
.desktop-6 {
    background-image: url('https://i.imgur.com/3XhbkV8.jpg');
}
.desktop-island,
.desktop-7 {
    background-image: url('https://i.imgur.com/5s7y0i0.jpg');
}
.desktop-camping,
.desktop-8 {
    background-image: url('https://i.imgur.com/b8QEMPZ.png');
}
.desktop-city,
.desktop-9 {
    background-image: url('https://i.imgur.com/oqzG6YN.png');
}
.desktop-mountains,
.desktop-10 {
    background-image: url('https://i.imgur.com/mui14uU.jpg');
}
.desktop-rockon,
.desktop-11 {
    background-image: url('https://i.imgur.com/qkwX067.png');
}
.desktop-clouds,
.desktop-12 {
    background-image: url('https://i.imgur.com/J61X3Aw.png');
}
.desktop-earth,
.desktop-13 {
    background-image: url('https://i.imgur.com/Ov9waJu.png');
} */